<div class="calendar calendar-container">
  <form [formGroup]="birthdayForm" (ngSubmit)="onSubmit()">
    <div class="calendar__field">
      <mat-form-field>
        <mat-label>Birthday date</mat-label>
        <input matInput formControlName="birthday" [max]="maxCalendarDate" [matDatepicker]="datepicker">
        <mat-datepicker-toggle matSuffix [for]="datepicker">
          <mat-icon matDatepickerToggleIcon>edit_calendar</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #datepicker touchUi="true" disabled="false"></mat-datepicker>
      </mat-form-field>
      <ng-container *ngIf="submit && birthdayForm.invalid">
        <mat-hint class="alert-txt" [class.alert-txt__white]="(counter$ | async)?.value == 10">
          Invalid or empty birthday date field. 
        </mat-hint>
      </ng-container>
    </div>
    <div class="btn-box">
      <button type="submit" class="btn-box__primary">Reset counter</button>
    </div>
  </form>
</div>

