@mixin btn-primary {
    cursor: pointer;
    font-size: $font-size-btn;
    color: #ffffff;
    background-color: $btn-primary-color;
    border: none;
    border-radius: $btn-radius;
    padding: 8px 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
    